<html>
  <head>
    <title>TWITTER API</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
    <header>
  <div class="container">
    <h1 class="logo">Flask App</h1>
    <strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('JSON_to_CSV') }}">Json to Csv</a></li>
        <li><a href="{{ url_for('clean_variables') }}">Clean textual variables</a></li>
        <li><a href="{{ url_for('extract_tweets') }}">Extract data from Twitter API</a></li>
        <li><a href="{{ url_for('predict_age') }}">Predict Age</a></li>
        <li><a href="{{ url_for('predict_gender') }}">Predict Gender</a></li>
        <li><a href="{{ url_for('predict_gender_age') }}">Predict Age and Gender</a></li>
      </ul>
    </nav></strong>
  </div>
</header>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>